body,html{
	margin:0;
	padding:0;color:#FFF;
	width:100%;
	height:100%}

html{background-color:#FFF;
	background-image:url(https://raw.githubusercontent.com/crachim/crachim.github.io/master/blog_bg.jpg);
	background-size:cover;
	background-position:center}

body{background-image:url(https://raw.githubusercontent.com/crachim/crachim.github.io/master/blog_bg.jpg);
	background-size:cover;
	background-position:center;
	font-size:13px; 
	font-family: -apple-system, BlinkMacSystemFont, 'Microsoft YaHei', sans-serif;}

header h1{display:none}

footer{
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	font-size: 13px; 
	color: #323944;
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, 'Microsoft YaHei', sans-serif;}
